@model JewelleryShop.Web.ViewModels.Products.ProductFormViewModel

@{
    ViewData["Title"] = "Create product";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="spinner">
    <i class="fas fa-sync fa-spin fa-10x"></i>
</div>
<div class="row">
    @await Html.PartialAsync("_ProductForm")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/imgurAuth.js"></script>
}